body {
    font-family: monospace;
    font-size: 12pt;
    background-color: white;
    color: black;
}

#header {
}

#header h1 {
    text-align: center;
}

div#main {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

#main h1 {
    font-size: 2em;
    font-weight: 100;
}
#main h2 {
    font-size: 1em;
    margin-bottom: 5em;
}

a, a:visited {
    color: #2e7c9b;
}

a:hover {
    color: #3495b2;
}


.inactive a {
    text-decoration: none;
    color: #64828b;
}

.inactive a:hover {
    color: #64828b;
    cursor: default;
}

a.chosen {
    text-decoration: underline;
}

li {
    list-style-type: none;
}
