html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
    font-size: 12pt;
    background-color: white;
    color: black;
}

#header {
    padding: 1em;
}

#header h1 {
  font-size: 1em;
  position:fixed;
  top:0em;
}

#header h1 a {
    text-decoration: none;
    color: black;
}

#header h1 a:hover {
    color: #3495b2;
}

div#main {
    max-width: 40em;
    padding:0em 5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

#main h1 {
    font-size: 2em;
    font-weight: 100;
}
#main h2 {
    font-size: 1em;
    margin-bottom: 5em;
}

a, a:visited {
    color: #2e7c9b;
}

a:hover {
    color: #3495b2;
}


.inactive {
    color: #888;
}

.inactive a {
    text-decoration: none;
    color: #64828b;
}

.inactive a:hover {
    color: #64828b;
    cursor: default;
}

a.chosen {
    text-decoration: underline;
}

li {
    list-style-type: none;
    margin-bottom: 1em;
}

#footer {
    height: 3em;
    border-top: 1px #eee solid;
    font-size: 0.8em;
    color: #333;
    position:fixed;
    bottom:0em;

    margin: 0;
    padding-left: 1em;
    width: 100%;

    background-color: white;
}
